@import "../../../styles/variables.scss";

.header {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding-right: 20px;
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      ul {
        display: flex;
        list-style-type: none;
        a {
          margin-left: 20px;
          color: #c9c9c9;

          font-size: 23px;
          font-style: normal;
          font-weight: 600;
          line-height: 23px;
          text-decoration: none;
          transition: color 0.1s ease-in-out;
          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
  .logo {
    display: flex;
    cursor: pointer;

    h1 {
      margin-left: 20px;
      font-family: $Hand-font;
      font-size: 64.364px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}
