@import "../../../styles/variables.scss";

.movie__container {
  display: flex;

  width: 100%;
}
.search__container {
  margin-left: 50px;
  .search {
    display: flex;
    justify-content: center;
  }
}

.filter {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  gap: 20px;
  label {
    font-family: $Inter;
  }
  select {
    border-radius: 50px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    transition: all 0.5s ease;
    cursor: pointer;
  }
}

.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 50px;
}

.movie {
  width: calc(
    20% - 10px
  ); /* Вычитаем ширину отступов между фильмами из общей ширины фильма */
  margin-bottom: 20px;
  margin-right: 10px; /* Добавляем отступ между фильмами */
  margin-top: 50px;
}

.movie img {
  width: 100%;
}

.movie__info h3 {
  margin-top: 10px;
  padding: 0;
  font-size: 20px;
  height: 2.5em;
}

.movie__subinfo {
  display: flex;
  justify-content: space-between;

  .vote__average {
    color: red;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
