@import "../../styles/variables.scss";
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 48px;
  margin-bottom: 50px;
  .content {
    display: flex;
    flex-direction: column;
    max-width: 650px;
  }

  .title {
    max-width: 650px;
    margin-top: 50px;

    h2 {
      color: #fff;
      font-family: $Bebas;
      font-size: 64px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin: 0px;
      @media (max-width: 992px) {
        font-size: 50px;
      }
    }
    h1 {
      text-transform: uppercase;
      background: linear-gradient(94deg, #2203ff 33.29%, #c40d60 67.01%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 102px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      font-family: $Bebas;
      margin: 0px;
      @media (max-width: 1211px) {
        font-size: 70px;
      }
    }
    p {
      flex-wrap: wrap;
      color: #cecece;

      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      @media (max-width: 992px) {
        font-size: 19px;
      }
    }
  }
  .button {
    margin-top: 25px;
    button {
      width: 260px;
      height: 65px;
      color: #fafafa;
      border-radius: 8px;
      border: 1px solid #fafafa;
      padding: 1.2px;
      margin: 8px;
      text-transform: uppercase;
      font-size: 21px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      position: relative;
      span {
        text-transform: none;
      }

      img {
        width: 37px;
        height: 37px;
        margin-right: 8px;
      }
    }
  }

  .photos {
    position: relative;

    width: 100%;
    margin-right: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .spider,
    .galaxy {
      position: absolute;
      max-width: 100%;
      height: auto;
      object-fit: cover;
      min-height: 400px;
      margin-right: 290px;
      @media (max-width: 1201px) {
        min-height: 600px;
        min-width: 390px;
      }
    }

    .spider {
      z-index: 2;
    }

    .galaxy {
      z-index: 1;
      left: 50%;
      transform: translateX(50%);
    }

    @media (max-width: 1390px) {
      margin-right: 500px;
    }

    @media (max-width: 768px) {
      .spider,
      .galaxy {
        max-width: 100%;
        min-height: 200px; /* Еще меньше минимальная высота для мобильных устройств */
      }
    }
  }
}
