.movie__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin: 35px;

  img {
    width: 134px;
    height: 196px;
  }
  .movie__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h3 {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 143px;
      text-align: center;
      margin-bottom: -5px;
    }
  }
  .movie__subinfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      width: 3.396px;
      height: 3.296px;
    }
  }
}
.film {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.imageContainer {
  position: relative;
}

.favoriteIcon {
  position: absolute;
  bottom: 80px; /* Регулируйте отступ снизу */
  right: 27px; /* Регулируйте отступ справа */
}
